<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->

<!--    <springProperty name="appName" source="spring.application.name" />-->
<!--    <springProperty name="loggingUrl" source="logging.url" />-->

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">-->
<!--        <http class="com.github.loki4j.logback.ApacheHttpSender">-->
<!--            <url>${loggingUrl}</url>-->
<!--        </http>-->
<!--        <format>-->
<!--            <label>-->
<!--                <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>-->
<!--                <readMarkers>true</readMarkers>-->
<!--            </label>-->
<!--            <message>-->
<!--                <pattern>{"level":"%level", "class":"%logger{36}", "thread":"%thread", "message": "%message", "requestId": "%X{X-Request-ID}"}</pattern>-->
<!--            </message>-->
<!--            <sortByTime>true</sortByTime>-->
<!--        </format>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--&lt;!&ndash;        <appender-ref ref="CONSOLE" />&ndash;&gt;-->
<!--         <appender-ref ref="LOKI" />-->
<!--    </root>-->

<!--</configuration>-->
